{% extends 'base.html' %}
{% load static %}
 
{% block extra_css %}
{% endblock %}

{% block body %}

    <!-- ***** Testimonials Starts ***** -->
    <section class="section" id="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="center-heading">
                        <h2> Meet Our <em>Amazing</em>Team</h2>
                        <p>"Coming together is a beginning, staying together is progress, and working together is success."<br>- Henry Ford</p>
                    </div>
                </div>
                <div class="col-lg-10 col-md-12 col-sm-12 mobile-bottom-fix-big">
                        <div class="item service-item">
                            <div class="author">
                                {% comment %} <i><img style="border-radius: 49%; height: 8em; width: 7em;" src="https://user-images.githubusercontent.com/67689773/94807084-b8b63680-040c-11eb-84d3-8e6f5e2d9c3e.jpg" alt=" " class="img-responsive"></i> {% endcomment %}
                                <i><img style="border-radius: 49%; height: 8em; width: 7em;" src="https://i.imgur.com/tRamp9s.jpg" alt=" " class="img-responsive"></i>                            
                            </div>
                            <div class="testimonial-content">
                                
                                <h4>Sanskriti Kushik</h4>
                                <p>A Full Stack Developer, Competitive Programming enthusiast who loves taking on challenges!</p>
                                <p><ul class="social">
                                <li><a href="https://www.linkedin.com/in/sanskriti-kushik-2302/" target="blank"><i class="fa fa-linkedin fa-lg"></i></a></li>
                                <li><a href="https://github.com/SanskritiKushik5" target="blank"><i class="fa fa-github fa-lg"></i></a></li>
                                <li><a href="https://twitter.com/KushikSanskriti" target="blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                                <li><a href="https://www.instagram.com/skkkk_5/" target="blank"><i class="fa fa-instagram fa-lg"></i></a></li>
                        </ul></p>
                               
                            </div>
                        </div>
                        <div class="item service-item" >
                            <div class="author">
                                <i><img style="border-radius: 49%; border: 1px solid #FFEBCD;" src="https://media-exp1.licdn.com/dms/image/C4E03AQEG1m5feCySzg/profile-displayphoto-shrink_400_400/0/1599359033958?e=1620864000&v=beta&t=RKCFTK9d96HBT8H3Le4D-6Q0Whkq50Rc4EkuHtOzzsA"></i>
                            </div>
                            <div class="testimonial-content">
                                
                                <h4>Irit Kushwaha</h4>
                                <p>A Frontend Developer, Competitive Programmer, and a quick learner who can code in any situation!</p>
                                <p><ul class="social">
                                <li><a href="https://www.linkedin.com/in/irit-kushwaha-138a901ab/" target="blank"><i class="fa fa-linkedin fa-lg"></i></a></li>
                                <li><a href="https://github.com/irit2607" target="blank"><i class="fa fa-github fa-lg"></i></a></li>
                                <li><a href="" target="blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                                <li><a href="https://www.instagram.com/_irit_26/" target="blank"><i class="fa fa-instagram fa-lg"></i></a></li>
                        </ul></p>
                            
                               
                            </div>
                        </div>
                        <div style="padding: 50px;"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Testimonials Ends ***** -->

{% endblock %}
{% block extra_js %}
{% endblock %}
